In [1]:
#Importing libraries
import pandas as pd
import numpy as np
import sqlite3

In [2]:
con = sqlite3.connect("sqlite.db")
cur = con.cursor()

In [3]:
#Getting CLTV table
cur.execute("SELECT * FROM CLTV")
rows = cur.fetchall()

df1 = pd.DataFrame(rows)
df1.columns = ["customer_id", "total_purchases", "total_quantity", "total_price", "avg_order_value", "purchase_frequency", "profit_margin", "customer_value", "churn_rate", "cltv"]
df1.head(20)

,customer_id,total_purchases,total_quantity,total_price,avg_order_value,purchase_frequency,profit_margin,customer_value,churn_rate,cltv
0,38915,9.0,30.0,34718.0,3857.0,0.000199,3471.8,0.769178,0.257057,10388.465943
1,28656,9.0,33.0,34599.0,3844.0,0.000199,3459.9,0.766585,0.257057,10317.964003
2,18622,9.0,36.0,33825.0,3758.0,0.000199,3382.5,0.749435,0.257057,9861.470132
3,27242,10.0,41.0,33336.0,3333.0,0.000222,3333.6,0.738533,0.257057,9577.526765
4,32386,9.0,25.0,32780.0,3642.0,0.000199,3278.0,0.726302,0.257057,9261.812258
5,11395,8.0,29.0,31232.0,3904.0,0.000177,3123.2,0.692045,0.257057,8408.221912
6,42694,8.0,22.0,30836.0,3854.0,0.000177,3083.6,0.683182,0.257057,8195.289647
7,13400,10.0,28.0,30685.0,3068.0,0.000222,3068.5,0.679814,0.257057,8114.953883
8,13805,9.0,29.0,30364.0,3373.0,0.000199,3036.4,0.672657,0.257057,7945.521490
9,48382,10.0,24.0,30283.0,3028.0,0.000222,3028.3,0.670951,0.257057,7904.225843
10,49785,8.0,21.0,29430.0,3678.0,0.000177,2943.0,0.651983,0.257057,7464.428239
11,22586,7.0,17.0,29253.0,4179.0,0.000155,2925.3,0.648194,0.257057,7376.415904
12,45636,8.0,19.0,29253.0,3656.0,0.000177,2925.3,0.648083,0.257057,7375.155107
13,3492,7.0,20.0,29234.0,4176.0,0.000155,2923.4,0.647729,0.257057,7366.332971
14,15313,11.0,36.0,28906.0,2627.0,0.000244,2890.6,0.640306,0.257057,7200.212758
15,37494,7.0,21.0,28520.0,4074.0,0.000155,2852.0,0.631908,0.257057,7010.890096
16,14066,9.0,31.0,28436.0,3159.0,0.000199,2843.6,0.629980,0.257057,6968.915749
17,30680,9.0,29.0,28361.0,3151.0,0.000199,2836.1,0.628385,0.257057,6932.933359
18,7821,8.0,23.0,28223.0,3527.0,0.000177,2822.3,0.625216,0.257057,6864.409689
19,39717,8.0,26.0,28039.0,3504.0,0.000177,2803.9,0.621139,0.257057,6775.185312

In [4]:
#Method 2
#Getting ecommerce_customers table and formating date
cur.execute("SELECT * FROM ecommerce_customers")
rows = cur.fetchall()

df = pd.DataFrame(rows)
df.columns = ["order_id", "customer_id", "customer_name", "customer_gender", "customer_age", "purchase_date", "purchase_time", "product_category", "product_price", "quantity", "total_purchase_amount", "payment_method", "return", "churn"]
df["purchase_date"] = pd.to_datetime(df["purchase_date"])
df.head(20)

,order_id,customer_id,customer_name,customer_gender,customer_age,purchase_date,purchase_time,product_category,product_price,quantity,total_purchase_amount,payment_method,return,churn
0,1,11789,Matthew Davis,Male,45,2020-01-01,00:07:26,Clothing,426,4,2046,Cash,1.0,0
1,2,48592,Tina Phillips,Male,49,2020-01-01,00:11:40,Clothing,160,4,2514,Cash,0.0,0
2,3,30486,Lance Colon,Male,35,2020-01-01,00:15:47,Clothing,230,4,713,Credit Card,0.0,1
3,4,25222,John Delgado,Female,34,2020-01-01,00:24:27,Clothing,17,1,4197,Cash,1.0,0
4,5,6380,Ashlee Johnson,Female,54,2020-01-01,00:28:45,Home,363,5,5150,PayPal,0.0,1
5,6,27554,William Bell,Male,46,2020-01-01,00:33:57,Books,236,3,1343,Credit Card,0.0,0
6,7,5399,Christine Strickland,Female,55,2020-01-01,00:50:45,Books,368,2,1250,Cash,0.0,0
7,8,39440,Gary King,Female,64,2020-01-01,00:53:25,Books,181,2,4110,Cash,1.0,0
8,9,14460,Anna Martinez,Male,39,2020-01-01,01:32:30,Home,123,3,2505,PayPal,1.0,0
9,10,16963,Gregory Shaw,Male,45,2020-01-01,01:44:13,Clothing,189,5,2059,Cash,1.0,1
10,11,5186,Frances Dawson,Female,22,2020-01-01,01:52:06,Home,467,5,4955,PayPal,0.0,1
11,12,36360,Mary Salazar,Female,24,2020-01-01,01:59:22,Electronics,319,5,4441,Cash,1.0,0
12,13,31635,Vincent Luna,Female,62,2020-01-01,02:01:56,Home,27,2,2864,Credit Card,0.0,0
13,14,8823,Casey White,Female,46,2020-01-01,02:11:56,Electronics,498,3,3971,PayPal,0.0,0
14,15,33109,Melissa Meyer,Female,34,2020-01-01,02:14:03,Clothing,211,5,358,Cash,0.0,0
15,16,49612,Joshua Davidson,Male,54,2020-01-01,02:15:51,Clothing,405,2,502,PayPal,0.0,0
16,17,40985,Christina Hill,Male,46,2020-01-01,02:29:32,Books,234,3,4601,Credit Card,0.0,0
17,18,19620,Sean Martinez,Female,33,2020-01-01,02:41:53,Home,370,4,1563,Credit Card,1.0,0
18,19,36491,Sharon Reed,Female,23,2020-01-01,02:45:08,Home,120,4,2229,PayPal,1.0,1
19,20,45970,Katherine Vaughan,Male,42,2020-01-01,02:50:01,Clothing,96,1,2437,PayPal,0.0,1

In [5]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from xgboost import XGBRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error

customer_df = df1.copy().drop(columns=['customer_value', 'total_price', 'profit_margin'])

df2 = df.copy()

df2= df2[["customer_id", "customer_gender", "customer_age", "return", "churn"]]
extras_df = df2.groupby("customer_id").agg(
    customer_gender=('customer_gender', lambda x: x.mode()[0]),
    customer_age=('customer_age', 'mean'),
    total_returns=('return', 'sum'),
    total_churns=('churn','sum')
)
extras_df['customer_gender'] = extras_df['customer_gender'].map({'Male': 0, 'Female': 1})

customer_df = customer_df.merge(extras_df, on='customer_id', how='left')

X = customer_df.drop(columns=['customer_id', 'cltv'])
Y = customer_df['cltv']

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

model = XGBRegressor(n_estimators=10000, learning_rate=0.1, max_depth=16, random_state=42)
model.fit(X_train, Y_train)

Y_pred = model.predict(X_test)

In [6]:

MAE = mean_absolute_error(Y_test, Y_pred)
RMSE = mean_squared_error(Y_test, Y_pred, squared=False)

print(f"Mean Absolute Error: {MAE}")
print(f"Root Mean Squared Error: {RMSE}")

Mean Absolute Error: 2.5417114347077456
Root Mean Squared Error: 20.916388361467533

In [7]:

importances = model.feature_importances_
feature_names = X.columns

importance_df = pd.DataFrame({'feature': feature_names, 'importance': importances}).sort_values(by='importance', ascending=False)
importance_df.head(10)

              feature  importance
0     total_purchases    0.867070
2     avg_order_value    0.132849
6        customer_age    0.000048
1      total_quantity    0.000012
7       total_returns    0.000012
5     customer_gender    0.000005
8        total_churns    0.000004
3  purchase_frequency    0.000000
4          churn_rate    0.000000

### Insight

- The best indicator of customer lifetime value is the amount of purchases they make and the average value of their orders.
- Other factors such as churn rate or total returns do not affect customer lifetime value as much

In [8]:
cur.close()
con.close()